on:
  push:
    branches:
      - release/aelf.tools/*

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      WORKING_DIRECTORY: aelf.tools
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0.*'  # Change this to the .NET version you're using

      - name: Read version from Version.props
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: |
          version=$(grep -oP '<Version>\K[^<]+' Version.props)
          echo "VERSION=$version-rc.${GITHUB_RUN_NUMBER}" >> $GITHUB_ENV

      - name: Build project
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: dotnet build --configuration Release /p:Version=$VERSION /p:Platform="Any CPU"

      - name: Pack
        working-directory: ${{ env.WORKING_DIRECTORY }}
        run: dotnet pack --configuration Release --output nupkgs /p:Version=$VERSION /p:Platform="Any CPU"

      - name: Publish NuGet packages
        uses: dansiegel/publish-nuget@v1.2
        with:
          filename: '**/*.nupkg'
          apiKey: ${{ secrets.PREVIEW_NUGET_API_KEY }}
          feedUrl: ${{ secrets.PREVIEW_NUGET_FEED_URL }}